@import 'tailwindcss';
@plugin "daisyui" {
  themes: light --default;
}
@plugin "daisyui/theme" {
  name: 'light';
  default: true;
  --color-primary: #0e1327;
  --color-secondary: #bc1d36;
}
@theme {
  --color-primary: #0e1327;
  --color-secondary: #bc1d36;
  --font-display: 'Nunito Sans', 'Avenir', Helvetica, Arial, sans-serif;
}
